@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<!-- Vendors CSS -->

<div class="col-xl-12">
    <h4 class="fw-bold mb-4"><span class="text-muted fw-light">Admin /</span> Constructor</h4>
    <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-constructor"
                        aria-controls="navs-pills-justified-constructor"
                        aria-selected="true">
                    <i class="tf-icons bx bx-briefcase-alt-2"></i> Constructor

                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-ongoing"
                        aria-controls="navs-pills-justified-ongoing"
                        aria-selected="false">
                    <i class="tf-icons bx bx-refresh"></i> On Project
                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-finished"
                        aria-controls="navs-pills-justified-finished"
                        aria-selected="false">
                    <i class="tf-icons bx bx-calendar-check"></i> Finished
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Constructor List -->
            <div class="tab-pane fade show active m-0 p-0" id="navs-pills-justified-constructor" role="tabpanel">
                <h5 class="card-header">Constructor List</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Renaldy Prasetio</td>
                                <td>renaldy@cass.com</td>
                                <td>On Project</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Howard Halim</td>
                                <td>halim.howard@cass.com</td>
                                <td>Available</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- On Project List -->
            <div class="tab-pane fade" id="navs-pills-justified-ongoing" role="tabpanel">
                <h5 class="card-header">On Project List</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Renaldy Prasetio</td>
                                <td>renaldy@cass.com</td>
                                <td>On Project</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Finished List -->
            <div class="tab-pane fade" id="navs-pills-justified-finished" role="tabpanel">
                <h5 class="card-header">Finished List</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Project Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Howard Halim</td>
                                <td>halim.howard@cass.com</td>
                                <td>Undersea Tunnel</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>