@model IEnumerable<cass.Models.Project>

@{
	ViewData["Title"] = "Index";
}

@{
	Layout = "_ConstructorLayout";
}

<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Available Projects</h1>
	</div>
</div>

<div class="container-fluid pt-5">
	<div class="row px-xl-5">
		<!-- Content -->
		<div class="col-lg-12 col-md-12">
			<div class="row pb-3">
				@foreach (var Project in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-12 pb-1">
						<div class="card product-item border-0 mb-4">
							<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
								<img class="img-fluid w-100" style="aspect-ratio: 1/1;object-fit:cover" src="@Project.ImageUrl" alt="">
							</div>
							<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
								<h6 class="text-truncate mb-3">@Project.Name</h6>
								<div class="d-flex justify-content-center">
									<h6>RM @Project.Price</h6>
								</div>
							</div>
							<div class="card-footer d-flex justify-content-between bg-light border">
								<a class="btn btn-sm text-dark p-0 mx-auto" asp-controller="Constructor" asp-action="Shop" asp-route-id="@Project.Id"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
