@{
	ViewData["Title"] = "Login";
}

@{
	Layout = "_ConstructorLayout";
}

<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Constructor Login</h1>
	</div>
</div>
<div class="row px-xl-5">
	<div class="col-lg-5 mb-5"></div>
	<div class="col-lg-2 mb-5">
		<div class="contact-form">
			<div id="success"></div>
			<form name="sentMessage" id="contactForm" novalidate="novalidate">
				<div class="control-group">
					<input type="email" class="form-control" id="name" placeholder="Email"
						   required="required" data-validation-required-message="Please enter your Email" />
					<p class="help-block text-danger"></p>
				</div>
				<div class="control-group">
					<input type="password" class="form-control" id="email" placeholder="Password"
						   required="required" data-validation-required-message="Please enter your Password" />
					<p class="help-block text-danger"></p>
				</div>
				<div  class="mx-auto">
					<button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton"> Login </button>
				</div>
			</form>
		</div>
	</div>
</div>

