@model CASS___Construction_Assistance.Areas.Identity.Data.User

@{
    ViewData["Title"] = "Profile";
}

@{
	Layout = "_ConstructorLayout";
}

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Constructor Profile</h1>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-md-4 pb-5">
        </div>
        <div class="col-md-4 pb-5">
            <div class="card w-100 mx-auto" style="max-width:330px;">
                <img class="card-img-top" src="https://picsum.photos/500/500" alt="Card image cap">
                <div class="card-body little-profile text-center">
                    <div class="pro-img"><img src=@Model.ImageUrl alt="user"></div>
                    <h3 class="m-b-0">@Model.Name</h3>
                    <div class="d-flex flex-column mb-3">
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@Model.Email</p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>@Model.Phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-5">
        </div>
    </div>
</div>

