@{
	ViewData["Title"] = "Shop";
}

@{
	Layout = "_ConstructorLayout";
}

<!DOCTYPE html>
<html lang="en">

<body>

	<!-- Shop Detail Start -->
	<div class="container-fluid py-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 pb-5">
					<img class="w-100 h-100" src="https://picsum.photos/250/250" alt="Image">
			</div>
			<div class="col-lg-7 pb-5">
				<h3 class="font-weight-semi-bold">Colorful Stylish Shirt</h3>
				<h3 class="font-weight-semi-bold mb-4">$150.00</h3>
				<p class="mb-4">Volup erat ipsum diam elitr rebum et dolor. Est nonumy elitr erat diam stet sit clita ea. Sanc invidunt ipsum et, labore clita lorem magna lorem ut. Erat lorem duo dolor no sea nonumy. Accus labore stet, est lorem sit diam sea et justo, amet at lorem et eirmod ipsum diam et rebum kasd rebum.</p>
				<div class="d-flex align-items-center mb-4 pt-2">
					<a class="btn btn-primary px-3" class="nav-item nav-link" asp-controller="Constructor" asp-action="Myproject"><i class="fa fa-plus mr-1"></i> Take Project</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

