@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_AppLayout";
}

<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
            <article id="post-39" class="post-39 page type-page status-publish hentry">

                <div class="entry-content">
                    <div class="wpcmsdev-columns">
                        <div class="column full">
                            <h4>Land Details</h4>

                            <form class="wpcf7" method="post" action="contact.php" id="contactform">
                                <div class="form">
                                    <p><input type="text" name="name" placeholder="Name *"></p>
                                    <p><input type="text" name="email" placeholder="E-mail Address *"></p>
                                    <p><textarea name="comment" rows="3" placeholder="Message *"></textarea></p>
                                    <input type="submit" id="submit" class="clearfix btn" value="Send">
                                </div>
                            </form>
                            <div class="done">
                                Your message has been sent. Thank you!
                            </div>

                        </div>
                    </div>
                </div>
                <!-- .entry-content -->
            </article>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>

