@model cass.Models.Project

@{
    ViewData["Title"] = "Update";
}

@{
    Layout = "_AppLayout";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Project Name</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Update Your Project</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-2 mb-5">
        </div>
        <div class="col-lg-8 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                @if (Model.Status.Equals("Taken"))
                {

                    <div>
                        <a class="btn btn-primary py-2 px-4 my-4"
                           data-toggle="modal"
                           data-target="#largeModal">
                            Mark As Finish
                        </a>
                    </div>

                }


                @if (!Model.Status.Equals("Pending"))
                {

                <p>Taken By: @Model.Constructor_Name</p>
                
                }
                <form asp-action="Update" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="Constructor_Id" />
                    <input type="hidden" asp-for="Constructor_Name" />
                    <input type="hidden" asp-for="Customer_Id" />
                    <input type="hidden" asp-for="Customer_Name" />
                    <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
                    <div class="control-group">
                        <input asp-for="Name" class="form-control" placeholder="Project Name" />
                        <span asp-validation-for="Name" class="help-block text-danger"></span>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea asp-for="Location" class="form-control" rows="6" id="location" placeholder="Location"></textarea>
                        <span asp-validation-for="Location" class="help-block text-danger"></span>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input asp-for="Price" type="number" class="form-control" id="price" placeholder="Price" />
                        <span asp-validation-for="Price" class="help-block text-danger"></span>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea asp-for="Description" class="form-control" rows="6" id="description" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="help-block text-danger"></span>
                        <p class="help-block text-danger"></p>
                    </div>
                    <input type="file" id="images" name="images" />
                    <p class="help-block text-danger"></p>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit">
                            Update Project
                        </button>
                    </div>
                </form>
                <form class="mt-5" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
        <div class="col-lg-2 mb-5">
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="UpdateStatus" asp-controller="Customer">
                <input type="hidden" asp-for="Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Feedback</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameLarge" class="form-label">Message</label>
                            <textarea type="text" id="nameLarge" class="form-control" placeholder="Enter Promo Message" rows="4" name="msg"> </textarea>
                            <input type="hidden" asp-for="Constructor_Id" />
                            <input type="hidden" asp-for="Name" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-secondary">Submit Feedback!</button>
                </div>
            </form>
        </div>

    </div>
</div>
